build
composer.lock
docs
vendor
coverage
$CACHE_FILE$
.gitignore
Laratraits.iml
codeStyles/
composerJson.xml
deployment.xml
dictionaries
encodings.xml
inspectionProfiles/
jsonSchemas.xml
markdown-navigator-enh.xml
markdown-navigator.xml
misc.xml
modules.xml
php-test-framework.xml
php.xml
shelf/
vcs.xml
.phpstorm.meta.php
.phpunit.result.cache